@use "../utils/variables" as var;
@use "../utils/mixins" as mix;

.preview-card-component {
	display: flex;
	flex-direction: column;
	width: 20.3125rem;
	margin: 5.625rem auto 5.625rem auto;
	border: 0.0625rem solid transparent;
	border-radius: 0.625rem;
	@include mix.media("desktop") {
		flex-direction: row;
		width: fit-content;
		margin-top: 10rem;
	}

	.car__col {
		flex-basis: 100%;
		padding: 2.8125rem;
		@include mix.media("desktop") {
			max-width: 19.375rem;
		}

		&:first-child {
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			@include mix.media("desktop") {
				border-top-right-radius: 0;
				border-bottom-left-radius: inherit;
			}
		}

		&:last-child {
			border-bottom-left-radius: inherit;
			border-bottom-right-radius: inherit;
			@include mix.media("desktop") {
				border-top-right-radius: inherit;
				border-bottom-right-radius: inherit;
				border-bottom-left-radius: 0;
			}
		}

		&--sedans {
			background-color: var.$bright-orange;
		}

		&--suvs {
			background-color: var.$dark-cyan;
		}

		&--luxury {
			background-color: var.$very-dark-cyan;
		}

		.car__img {
			height: 2.1875rem;
			background-position: left;
			background-repeat: no-repeat;
			background-size: contain;
			margin-bottom: 2rem;

			&--sedans {
				background-image: url("../images/icon-sedans.svg");
			}

			&--suvs {
				background-image: url("../images/icon-suvs.svg");
			}

			&--luxury {
				background-image: url("../images/icon-luxury.svg");
			}
		}

		.car__title {
			text-transform: uppercase;
			color: var.$very-light-gray;
			font-family: "Big Shoulders Display", sans-serif;
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		.car__body {
			color: var.$transparent-white;
			font-family: "Lexend Deca", sans-serif;
			font-size: 0.875rem;
			line-height: 2;
			margin-bottom: 2rem;
			@include mix.media("desktop") {
				margin-bottom: 4rem;
				font-size: 0.9375rem;
			}
		}

		.car__btn {
			display: inline-flex;
			font-family: "Lexend Deca", sans-serif;
			background-color: var.$very-light-gray;
			padding: 0.7rem 1.875rem;
			border-radius: 999px;
			transition: all 200ms ease-in-out;

			&:hover {
				cursor: pointer;
				color: var.$very-light-gray;
				outline: 0.1875rem solid var.$very-light-gray;
				outline-offset: -0.1875rem;
			}

			&--sedans {
				color: var.$bright-orange;
				&:hover {
					background-color: var.$bright-orange;
				}
			}

			&--suvs {
				color: var.$dark-cyan;
				&:hover {
					background-color: var.$dark-cyan;
				}
			}

			&--luxury {
				color: var.$very-dark-cyan;
				&:hover {
					background-color: var.$very-dark-cyan;
				}
			}
		}
	}
}
